[submodule "sdk"]
	path = sdk
	url = git@github.com:EyeSeeTea/dhis2-android-sdk.git
        branch = 2.25_EyeSeeTea
[submodule "EyeSeeTea-sdk"]
	path = EyeSeeTea-sdk
	url = https://github.com/EyeSeeTea/sdk
