  td.competent-circle > div {
      margin: auto;
      border-radius: 50%;
      height: 100%;
      color: black;
      font-weight: bold;
      margin-top: 5px;
      padding: 3px;
      margin-bottom: 5px;
      border: 1px solid white;
  }
  td.competent_improvement-circle > div {
      margin: auto;
      border-radius: 50%;
      height: 100%;
      color: white;
      font-weight: bold;
      margin-top: 5px;
      padding: 3px;
      margin-bottom: 5px;
      border: 1px solid white;
  }
  td.not-competent-circle > div {
      margin: auto;
      border-radius: 50%;
      height: 100%;
      color: white;
      font-weight: bold;
      margin-top: 5px;
      padding: 3px;
      margin-bottom: 5px;
      border: 1px solid white;
  }
  td.not_available-circle > div {
      margin: auto;
      border-radius: 50%;
      height: 100%;
      color: white;
      font-weight: bold;
      margin-top: 5px;
      padding: 3px;
      margin-bottom: 5px;
      border: 1px solid white;
  }