<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.eyeseetea.malariacare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />

    <application
        android:name=".EyeSeeTeaApplication"
        android:allowBackup="true"
        android:icon="@drawable/qualityapp_logo"
        android:label="@string/app_name"
        android:theme="@style/EyeSeeTheme"
        tools:replace="android:icon,android:theme" >
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name=".services.SurveyService"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProgressActivity"
            android:label="@string/settings_menu_pull"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".CreateSurveyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:parentActivityName=".DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>
        <activity
            android:name=".SurveyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:parentActivityName=".DashboardActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:parentActivityName=".DashboardActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>

        <meta-data
            android:name="nextClassName"
            android:value="org.eyeseetea.malariacare.DashboardActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0ff574d40926a9541f1c04cdd0a1ce3c03140d51" />

    </application>

</manifest>
